<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SimpleCRUD</title>
</head>

<body>
<form th:method="POST" th:action="@{admin/edit}" th:object="${user}">
    <label for="id"> ID </label>
    <input type="number" th:field="*{id}" id="id"/>
    <br/>

    <label for="name"> Enter name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <br/>

    <label for="lastname"> Enter last name: </label>
    <input type="text" th:field="*{lastName}" id="lastname"/>
    <br/>

    <label for="age"> Enter age: </label>
    <input type="number" th:field="*{age}" id="age"/>
    <br/>

    <label for="email"> Enter E-mail: </label>
    <input type="text" th:field="*{email}" id="email"/>
    <br/>
    <input type="submit" value="Save">
</form>
</body>
</html>